<div class='container'>
  <div class="row">
    <h2 class="col-12 my-5 text-center">パン屋さん一覧</h2>
    <table class="table border">
      <thead style="background-color: #f5deb3;">
        <tr>
          <th></th>
          <th>店名</th>
          <th>住所</th>
          <th>説明</th>
        </tr>
      </thead>
      <tbody>
        <% @shops.each do |shop| %>
        <tr>
          <td><%= image_tag shop.image.url, :size => "150x100", class: "border border-secondary rounded" %></td>
          <td>
            <%= link_to shop_path(shop.id), class: "link-border" do %>
              <strong><%= shop.name %></strong>
            <% end %>
          </td>
          <td><%= shop.address %></td>
          <td><%= shop.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination my-5"><%= paginate @shops %></div>
</div>
