<div class='container'>
  <div class="row">
    <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ribbon6 my-5">
      <h3>パン屋さん一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <table class="table border" style="background-color: #f5f5f5;">
        <thead>
          <tr>
            <th></th>
            <th>店名</th>
            <th>住所</th>
            <th>説明</th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shop| %>
          <tr>
            <td><%= image_tag shop.image.url, :size => "150x100", class: "border border-secondary rounded" %></td>
            <td>
              <%= link_to shop_path(shop.id), class: "link-border" do %>
                <strong><%= shop.name %></strong>
              <% end %>
            </td>
            <td><%= shop.address %></td>
            <td><%= shop.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination my-5"><%= paginate @shops %></div>
</div>
