<div class='container'>
  <h2 class="text-center my-5">パン屋さん一覧</h2>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>店名</th>
          <th>住所</th>
          <th>説明</th>
        </tr>
      </thead>
      <tbody>
        <% @searchs.each do |search| %>
        <tr>
          <td><%= image_tag search.image.url, :size => "150x100", class: "img-fluid border border-secondary rounded" %></td>
          <td>
            <strong>
              <%= link_to shop_path(search.id), class: "link-border" do %>
                <%= search.name %>
              <% end %>
            </strong>
          </td>
          <td><%= search.address %></td>
          <td><%= search.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination my-5"><%= paginate @searchs %></div>
</div>
