<div class='container'>
  <div class="row mt-5">
    <div class="col-4 offset-1">
      <%= image_tag @shop.image.url, class: "border border-secondary rounded" %>
    </div>
    <div class="col-6 mt-5">
      <div>
        <h2><strong><%= @shop.name %></strong></h2>
      </div>
    </div>
    <div class="col-1 mt-5">
    <div id="favourite_buttons_<%= @shop.id %>">
      <%= render "favourites/favourites", shop: @shop %>
    </div>
  </div>
  </div>
  <div class="row mt-5">
    <div class="col-3 offset-2">
      <h4><strong>News</strong></h4>
    </div>
    <div class="col-4">
      <h4><strong><%= @shop.news %></strong></h4>
    </div>
  </div>
  <div class="row col-12 col-lg-10 offset-lg-1 mt-5 text-center">
    <% @breads.each do |bread| %>
    <div class="col-3 col-lg-3">
      <div class="border border-secondary rounded mb-2" style="background-color: #f5deb3;">
        <div><%= image_tag bread.image.url, :size => "255x200", class: "img-fluid border border-secondary rounded" %></div>
        <p><%= bread.name %></p>
        <p><%= bread.price %>円</p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="text-center mt-3 h5">
    <strong><%= link_to "全ての商品を見る", shop_breads_path(@shop.id), class: "link-border" %></strong>
  </div>
  <div class=" mt-5">
    <h4 class="mb-4 text-center">
      <strong>店舗情報</strong>
    </h4>
    <table class="table border col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <tr>
        <th>店名</th>
        <td><%= @shop.name %></td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= @shop.description %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><%= @shop.url %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td>
          <%= @shop.address %>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @shop.phone_number %></td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td><%= @shop.opening_hour %></td>
      </tr>
      <tr>
        <th>定休日</th>
        <td><%= @shop.closed_day %></td>
      </tr>
    </table>
  </div>
  <div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 border border-secondary rounded" id="map"></div>
  <style>
     #map {
     height: 300px;
    }
  </style>
  <script>
  function initMap() {
    var uluru = {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
       }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP'] %>&callback=initMap"async defer></script>
  <h4 class="mt-5 text-center">
    <strong>レビュー</strong>
  </h4>
  <% @articles.each do |article| %>
    <div class="row border border-secondary rounded mt-5" style="background-color: #f5deb3;">
      <div class="col-2 text-center">
        <div class="mb-2 mt-3">
          <%= render "users/user_images", article: article %>
        </div>
        <p>
          <%= link_to user_path(article.user),class: "link-border" do %>
            <strong><%= article.user.name %></strong>
          <% end %>
        </p>
        <p><%= article.created_at.strftime("%Y/%m/%d") %></p>
      </div>
      <div class="col-9 offset-1 mt-3">
        <div class="row">
          <% article.images.each do |image| %>
            <div class="col-3">
              <%= image_tag image.url, :size => "150x100", class: "img-fluid border border-secondary rounded mb-2" %>
            </div>
          <% end %>
        </div>
        <div class="col-9 mt-3">
          <p><%= article.bread_name %></p>
          <p><%= article.review %></p>
          <div class="row">
            <%= render 'articles/read_rates', article: article %>
          </div>
        </div>
        <div class="row col-9 mt-4 mb-3">
          <div id="good_buttons_<%= article.id %>">
            <%= render "goods/goods", article: article %>
          </div>
          <div>
            <strong>
              <%= link_to "コメントする", article_path(article.id), class: "link-border ml-5" %>
            </strong>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pagination my-5"><%= paginate @articles %></div>
</div>
