<div class='container'>
  <div class="row mt-5">
    <div class="col-6 offset-3 col-md-4 offset-md-1 col-lg-3 offset-lg-1 mb-5">
      <%= image_tag @shop.image.url, class: "border border-secondary rounded" %>
    </div>
    <div class="col-10 col-md-6 col-lg-5 offset-lg-1 mt-5">
      <div>
        <h2><strong><%= @shop.name %></strong></h2>
      </div>
    </div>
    <div class="col-1 mt-5">
      <div id="favourite_buttons_<%= @shop.id %>">
        <%= render "favourites/favourites", shop: @shop %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ribbon6 mb-5">
      <h3>News</h3>
    </div>
    <div class="col-12 text-center">
      <h4><strong><%= @shop.news %></strong></h4>
    </div>
  </div>
  <div class="row col-12 col-lg-10 offset-lg-1 mt-5 text-center">
    <% @breads.each do |bread| %>
      <div class="col-4 col-md-3">
        <div class="border border-secondary rounded mb-2" style="background-color: #f5f5f5;">
          <div><%= image_tag bread.image.url, :size => "255x200", class: "img-fluid border border-secondary rounded" %></div>
          <p><%= bread.name %></p>
          <p><%= bread.price %>円</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-3 h5">
    <strong><%= link_to "全ての商品を見る", shop_breads_path(@shop.id), class: "link-border" %></strong>
  </div>
  <div>
    <div class="row">
      <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ribbon6 mt-5">
        <h3>店舗情報</h3>
      </div>
      <table class="table border col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 mt-3">
        <tr>
          <th>店名</th>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
          <th>説明</th>
          <td><%= @shop.description %></td>
        </tr>
        <tr>
          <th>URL</th>
          <td><%= @shop.url %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td>
            <%= @shop.address %>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @shop.phone_number %></td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @shop.opening_hour %></td>
        </tr>
        <tr>
          <th>定休日</th>
          <td><%= @shop.closed_day %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 border border-secondary rounded" id="map"></div>
  <style>
    #map {
      height: 300px;
    }
  </style>
  <script>
    function initMap() {
      var uluru = {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP'] %>&callback=initMap"async defer></script>
  <div class="row">
    <div class="col-10 offset-1 col-md-12 offset-md-0 col-lg-8 offset-lg-2">
      <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ribbon6 mt-5 mb-3">
        <h3>記事</h3>
      </div>
      <%= render "articles/articles", articles: @articles %>
    </div>
  </div>
  <div class="pagination my-5"><%= paginate @articles %></div>
</div>
