<div class='container'>
  <h2 class="my-5 text-center">記事詳細</h2>
  <div class="border border-secondary rounded">
    <div class="row my-4">
      <div class="col-3 offset-md-1 col-md-2 h5">商品画像</div>
      <div class="col-9 col-md-8">
        <div class="row">
          <% @article.images.each do |image| %>
            <div class="col-6 col-lg-4 mb-3">
              <%= image_tag image.url, size: "180x130", class: "border border-secondary rounded" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="col-3 offset-md-1 col-md-2 h5">店名</p>
      <p class="col-9">
        <%= link_to shop_path(@article.shop.id), class: "link-border" do %>
          <strong><%= @article.shop.name %></strong>
        <% end %>
      </p>
    </div>
    <div class="row">
      <p class="col-3 offset-md-1 col-md-2 h5">都道府県</p>
      <p class="col-9"><%= @article.prefecture.name %></p>
    </div>
    <div class="row">
      <p class="col-3 offset-md-1 col-md-2 my-2 h5">購入品</p>
      <p class="col-9 my-2"><%= @article.bread_name %></p>
    </div>
    <div class="row">
      <p class="col-3 offset-md-1 col-md-2 my-3 h5">レビュー</p>
      <p class="col-9 my-3"><%= @article.review %></p>
    </div>
    <div class="row">
      <p class="col-3 offset-md-1 col-md-2 mb-4 h5">評価</p>
      <%= render 'articles/read_rates', article: @article %>
    </div>
  </div>
  <div class="my-4">
    <div class="row" id="comments">
      <%= render 'comments/comments', article: @article, comment: @comment %>
    </div>
    <div class="form-group">
      <%= form_with model:[@article,@comment], remote: true do |f| %>
        <%= f.text_area :comment, size:"50x5", class: "form-control col-8 col-lg-7 offset-3 offset-md-2" %><br>
        <%= f.submit '送信', class: "btn btn-primary offset-3 offset-md-2 px-4"%>
      <% end %>
    </div>
  </div>
</div>