<div class='container'>
  <h2 class="my-5 text-center">記事詳細</h2>
  <div class="col-10 offset-1 border border-secondary rounded" style="background-color: #f5deb3;">
    <div class="row my-4">
      <div class="col-12">
        <div class="row">
          <% @article.images.each do |image| %>
            <div class="col-4 col-lg-3 mb-3">
              <%= image_tag image.url, size: "180x130", class: "img-fluid border border-secondary rounded" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="col-3 offset-1 col-md-2">店名</p>
      <p class="col-8">
        <%= link_to shop_path(@article.shop.id), class: "link-border" do %>
          <strong><%= @article.shop.name %></strong>
        <% end %>
      </p>
    </div>
    <div class="row">
      <p class="col-3 offset-1 col-md-2">都道府県</p>
      <p class="col-8"><%= @article.prefecture.name %></p>
    </div>
    <div class="row">
      <p class="col-3 offset-1 col-md-2 my-2">購入品</p>
      <p class="col-8 my-2"><%= @article.bread_name %></p>
    </div>
    <div class="row">
      <p class="col-3 offset-1 col-md-2 my-3">レビュー</p>
      <p class="col-8 my-3"><%= @article.review %></p>
    </div>
    <div class="row">
      <p class="col-3 offset-1 col-md-2 mb-4 mr-3">評価</p>
      <%= render 'articles/read_rates', article: @article %>
    </div>
    <div class="row mb-3">
      <div class="row col-11 offset-1">
        <div id="good_buttons_<%= @article.id %>" class="mr-5">
          <%= render "goods/goods", article: @article %>
        </div>
        <div>
          <strong>
            <% if @article.user == current_user %>
              <%= link_to "編集", edit_article_path(@article.id), class: "link-border mr-5" %>
              <%= link_to "削除", article_path(@article.id),class: "link-border", method: :delete, "data-confirm" => "本当に削除しますか？"%>
            <% end %>
          </strong>
        </div>
      </div>
    </div>
  </div>
  <div class="my-4">
    <div class="row mb-4" id="comments">
      <%= render 'comments/comments', article: @article, comment: @comment %>
    </div>
    <div class="form-group">
      <div id="comments_error">
        <%= render 'layouts/errors', model: @comment %>
      </div>
      <%= form_with model:[@article,@comment], remote: true do |f| %>
        <%= f.label "コメント", class: "offset-2 h5" %>
        <%= f.text_area :comment, size:"50x5", class: "form-control col-8 offset-2" %><br>
        <%= f.submit '送信', class: "btn btn-primary offset-2 px-4"%>
      <% end %>
    </div>
  </div>
</div>