<div class='container'>
  <div class="row col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ribbon6 my-5">
    <h2>ログイン</h2>
  </div>
  <div class="text-center mb-5">
    <%= flash[:alert]%>
  </div>
  <div class="row">
    <div class="col-12">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="row field form-group">
        <%= f.label :"メールアドレス", class: "col-4 col-lg-3 offset-2"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-4 form-control" %>
      </div>
      <div class="row field form-group mt-4">
        <%= f.label :"パスワード", class: "col-4 col-lg-3 offset-2" %>
        <%= f.password_field :password, autocomplete: "password", class: "col-4 form-control" %>
      </div>
      <div class="row actions text-center mt-4">
        <%= f.submit "ログイン" ,class: 'btn btn-secondary offset-6 offset-lg-5 px-3'%>
      </div>
    <% end %>
  </div>
</div>